@import url('default-body.css');
.settings-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    margin-top: -80px;
}

.settings-container button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #a8d5ba;
    color: #350;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

.settings-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    margin: 0 auto;
}